<!DOCTYPE html>
<html ng-app="onem2mAbbr">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="javascripts/jquery/dist/jquery.js"></script>
    <script src="javascripts/angular/angular.js"></script>
    <script src="javascripts/ngui.abbr.js"></script>
    <style>
      .abbr-item {
        border-bottom: 1px solid lightgray;
      }
      .abbr-item > div {
        float: left;
      }

      .abbr-item.abbr-del {
        width: 20px;

      }
      .abbr-item.abbr-word {
        width: 150px;

      }
      .abbr-item.abbr-desc {
        width: 100%;
      }



      #abbr-list {
        width: 100%;
      }

      td.abbr-del {
        width: 30px;
      }
      td.abbr-word {
        width: 200px;
      }

      td.abbr-word > input {
        width: 100%;
      }
      td.abbr-desc > input {
        width: 100%;
      }

      .abbr-new td {
        border-bottom: 3px solid lightgray;
        border-right: 1px dotted lightblue;
      }
      .abbr-item td {
        border-bottom: 1px solid lightgray;
        border-right: 1px dotted lightblue;
      }

    </style>
  </head>
  <body ng-controller="mainController">
    <div class="container">
      <!-- abbr LIST -->
      <table id="abbr-list">

        <tr id="abbr-form" class="form-group abbr-new" >
          <td class="abbr-del">
            <button tabindex="3" type="submit" class="btn btn-primary btn-lg" ng-click="putWord()">+</button>
          </td>
          <td class="abbr-word">
              <input tabindex="1" autofocus="autofocus" type="text" class="form-control input-lg text-center" placeholder="word to search or add" ng-model="formData.key">
          </td>
          <td class="abbr-desc">
              <input tabindex="2" type="text" class="form-control input-lg text-center" placeholder="description" ng-model="formData.desc">
          </td>
        </tr>



        <!-- LOOP OVER THE abbr IN $scope.abbr -->
        <tr class="abbr-item row ng-cloak" ng-repeat="abbr in abbrList | orderBy:key | filter:formData:strict">
          <td class="abbr-del"><button ng-click="deleteAbbr(abbr.key)">X</button></td>
          <td class="abbr-word">{{abbr.key}}</td>
          <td class="abbr-desc">{{abbr.desc}}</td>
        </tr>
      </table>



    </div>
  </body>
</html>
